# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Project specific
backend/uploads/*
!backend/uploads/.gitkeep

# OS
Thumbs.db
.DS_Store
desktop.ini

# Logs
*.log
logs/
